/* your styles go here */

.dashbord{
    color: black;
}

.dashbord:hover{
    color: dodgerblue;
    text-decoration: none;
}

.dashbord:visited{
    color: black;
}

.dashbord{
    color: black;
}

#add_steps{
    text-align: right;
}

.link-button{
    color: white;
}