/* estilização para impressão dos relatorios */
.charts-container{
    position: relative;
    padding: 0;
}

.myChart {
    position: relative;
    margin: 0 auto;
}

.print-only {
    display: none;
}

.sessao .panel-body {
    padding-top: 5px;
}

.titulo-sessao {
    font-size: 14pt;
    font-weight: bold;
}

.subtitulo {
    font-size: 10pt;
    font-weight: bold;
}

.geral .table-responsive {
    padding-left: 4px;
}

.sessao .panel-body {
    padding-top: 5px;
}

.panel-body .title {
    text-align: center;
}

.panel-group .list-group {
    margin-bottom: 0;
}

.panel-group .list-group .list-group-item {
    border-radius: 0;
    border-left: none;
    border-right: none;
    text-align: justify;
}

.panel-group .list-group .list-group-item:last-child {
    border-bottom: none;
}

.table tb {
    padding: 0.3em !important;
}

.table tb:last-child, .table th:last-child{
    font-weight: bold;
    border-left: #E0DDFF;
}


@media print{

    @page {
        margin: 2.25cm 1.5cm 2.5cm 2cm;
        width: 21cm;
        height: 29.7cm;
        /*page-break-after: always;*/
    }

    * {
        background-color: transparent !important;
        background: transparent !important;
        color: #000 !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
        font-size: 12pt !important;
    }

    a {
        pointer-events: none;
        cursor: default;
    }

    html, body {
        padding: 0;
        margin: 0;
    }

    body {
        line-height: 1.4em;
    }

    p {
        widows: 3;
        orphans: 3;
    }

    nav, footer, video, audio, object, embed {
        display: none;
    }

    img {
        max-width: 100%;
    }

    .panel, .panel-body{
        border: none;
        padding: 0;
        margin: 0;
    }

    .panel-heading {
        padding: 0 !important;
        margin-bottom: 0cm;
    }

    .panel-group .collapse, .panel-group a{
        display: block !important;
        height: auto !important;
    }

    .panel.panel-default {
        border:none;
    }

    .print-only {
        display: initial;
    }

    .no-print{
        display: none;
    }

    .no-break {
        page-break-after: auto;
    }

    .main, .row, .wrapper, .content, .no-print {
        margin: 0 !important;
    }

    .title {
        margin-bottom: 20px;
    }

    .first-page {
        /*page-break-after: always;*/
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
    }

    .title {
        font-size: 24pt !important;
    }

    .first-page .title {
        font-size: 28pt !important;
    }

    .document {
        font-size: 20pt !important;
    }

    .data {
        font-size: 15px !important;
    }

    .sessao{
        margin-top: 15px;
        /*page-break-after: always;*/
        /*page-break-inside: avoid;*/
        border: none;
    }

    .sessao:last-child{
        page-break-after: auto;
    }

    .titulo-sessao {
        font-size: 18pt !important;
    }

    .subtitulo {
        font-size: 12pt !important;
    }

    .panel.panel-default {
        border:none;
    }

    .geral {
        page-break-inside: avoid;
        page-break-after: always;
    }

    .panel-heading {
        padding: 0 !important;
        margin-bottom: 0cm;
    }

    .panel-group .panel {
        margin-top: .5cm;
    }

    .panel-group .panel:first-child {
        margin-top: 0;
    }

    .highcharts-label text > * {
        font-size: 10px !important;
    }

    .highcharts-axis-labels text > * {
        font-size: 11px !important;
    }

}